*{
    font-family: Century Gothic;
}
body{
    background-color: blanchedalmond;
}
header,footer{
    background-color: sienna;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 130%;
}
.lewa{
    background-color: navajowhite;
    margin: 10px;
    padding: 20px;
    width: 35%;
    height: 400px;
    box-shadow: 5px 5px 10px dimgray;
    float: left;
}
.nawigacja{
    width: 50%;
    height: 50px;
    float: right;
}
.prawa{
    width: 50%;
    height: 420px;
    overflow: auto;
    
}
input, button{
    margin-top: 20px;
}
ul li{
    display: inline-block;
}
img{
    width: 10%;
    float: left;
}
a{
    color: sienna;
    margin-right: 30px;
}
a:hover{
    color: #4C1900;
}